.text-vertical{
    writing-mode: vertical-rl;
/*     text-orientation: mixed; */
    text-orientation: upright;
    letter-spacing: 0.7rem;
 }

.wedding-label{
    letter-spacing: 0.7rem;
    color: lightcoral;
    margin: 2rem;
}