.btn-tel-blue {
    background-color: #78c0e9;
    text-decoration: none;
    color: white;
}

.btn-tel-pink {
    background-color: #f79e9e;
    text-decoration: none;
    color: white;
}

.btn-tel-grey {
    background-color: #ddd;
    text-decoration: none;
    color: white;
}

.text-pink{ color: rebeccapurple;}